.botaoPainel {
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    box-shadow: 10px 6px 18px -7px rgba(0,0,0,0.46);
}
.botaoPainel:hover {
    background-color: #e0e0e0;
}


main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
}

body {
    margin: 0;
}